<h2>{{user.username}}</h2>
{{#if user.blogs}}
<p>Click on any blog post to edit!</p>
{{/if}}

{{#each user.blogs as |blog|}}
<div>
    <a href="/blog-edit/{{blog.id}}">{{blog.title}}</a>
    <p>{{blog.content}}</p>
    <p>{{format_date blog.date_created}}</p>
</div>
{{/each}}

<div id="submit-container">
    <h3>Submit a new blog post!</h3>
    <button class="button is-success is-medium" id="create-blog">Create Post</button>
    <form class="form">
        <div class="field">
            <label class="label" for="blog-title">Blog Title:</label>
            <input class="input is-medium" type="text" id="blog-title" name="blog-title">
        </div>
        <div class="field">
            <label class="label" for="blog-content">Blog Content:</label>
            <input class="input is-medium" type="text" id="blog-content" name="blog-content">
        </div>
        <button class="button is-success is-medium" type="submit">Submit</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>