<h2 class="center-flex">{{user.username}}</h2>
{{#if user.blogs}}
<p class="center-flex">Click on any blog post to edit!</p>
{{/if}}

{{#each user.blogs as |blog|}}
<div class="center-flex-vert border m5">
    <a href="/blog-edit/{{blog.id}}">{{blog.title}}</a>
    <p>{{blog.content}}</p>
    <p>{{format_date blog.date_created}}</p>
</div>
{{/each}}

<div id="submit-container">
    <h3 class="center-flex">Submit a new blog post!</h3>
    <div class="column is-half">
        <button class="button is-success is-medium is-fullwidth" id="create-blog">Create Post</button>
    </div>
    <form class="form m5 border">
        <div class="field">
            <label class="label" for="blog-title">Blog Title:</label>
            <input class="input is-medium" type="text" id="blog-title" name="blog-title">
        </div>
        <div class="field">
            <label class="label" for="blog-content">Blog Content:</label>
            <input class="input is-medium" type="text" id="blog-content" name="blog-content">
        </div>
        <button class="button is-success is-medium" type="submit">Submit</button>
    </form>
</div>

<script src="/js/dashboard.js"></script>